{% extends 'base/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block appendhead %}
    <link rel="stylesheet" href="{% static 'users/css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <form class="form-signin" method="post">
            {% csrf_token %}

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username|add_class:'form-control' }}
                {% if form.username.help_text %}
                    <small class="form-text text-muted">{{ form.username.help_text }}</small>
                {% endif %}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password|add_class:'form-control' }}
                {% if form.password.help_text %}
                    <small class="form-text text-muted">{{ form.password.help_text }}</small>
                {% endif %}
                {{ form.password.errors }}
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rememberMe">
                <label class="form-check-label" for="rememberMe">
                    Remember me
                </label>
            </div>
            <a class="form-text mb-3" href="{% url 'main:users:password_reset' %}">Forgot password?</a>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}