{% extends 'base/base.html' %}

{% block title %}
    Bulletin Course
{% endblock %}

{% block content %}
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        {% with courses.first as course %}
            <h2>{{ course.name }}</h2>
            {% for course in courses %}
                {{ course.display_short }}
                {% if not forloop.last %}
                    -
                {% endif %}
            {% endfor %}
            <h3>Description</h3>
            <p>
                {{ course.description }}
            </p>
        {% endwith %}
        <h4>Sections</h4>
    {% endif %}
{% endblock %}
