{% extends 'base/base.html' %}

{% block title %}
    Bulletin Subject
{% endblock %}

{% block content %}
    {% if subject %}
        <h1>{{ subject.short }} - {{ subject.long }}</h1>

        <ul>
            {% for course in courses %}
                <li>
                    <a href="{% url 'bulletin:course' subject_short=subject.short course_number=course.course_number %}">
                        {{ course.course_number }} - {{ course.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>The requested subject does not exist.</p>
    {% endif %}
{% endblock %}