{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}{% if title %} | {% endif %}Minerva</title>

    {% block appendhead %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Minerva</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% for name, path in pages.items %}
                    <li class="nav-item">
                        {% if request.get_full_path == path %}
                            <a class="nav-link active" href="{{ path }}">
                                {{ name }} <span class="sr-only">(current)</span>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{{ path }}">{{ name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    {% for name, path in authenticated.items %}
                        <li class="nav-item">
                            {% if request.get_full_path == path %}
                                <a class="nav-link active" href="{{ path }}">
                                    {{ name }} <span class="sr-only">(current)</span>
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path }}">{{ name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        {% url 'users:logout' as logout %}
                        {% if request.get_full_path == logout %}
                            <a class="nav-link active" href="{{ logout }}">
                                Logout <span class="sr-only">(current)</span>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{{ logout }}">Logout</a>
                        {% endif %}
                    </li>
                {% else %}
                    {% for name, path in unauthenticated.items %}
                        <li class="nav-item">
                            {% if request.get_full_path == path %}
                                <a class="nav-link active" href="{{ path }}">
                                    {{ name }} <span class="sr-only">(current)</span>
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path }}">{{ name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        {% url 'users:login' as login %}
                        {% if request.get_full_path == login %}
                            <a class="nav-link active" href="{{ login }}">
                                Login <span class="sr-only">(current)</span>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{{ login }}">Login</a>
                        {% endif %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'users:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>