{% extends 'base/base.html' %}

{% load static %}
{% load times %}

{% block appendhead %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class=" col-lg-8 col-md-9">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    {% days as days %}
                    {% for day in days %}
                        <th scope="col" class="text-center col-width">{{ day }}</th>
                    {% endfor %}

                </tr>
                </thead>
                <tbody>
                {% hours as hours %}
                {% days as days %}
                {% for hour in hours %}
                    <tr>
                        <th class="text-right">{{ hour|time:'g:i A' }}</th>
                        {% for day in days %}
                            <td class="col-width"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-3" id="course-pickers">
            <div class="card mb-2" id="course-picker1" style="display: none;">
                <div class="card-body">
                    <div class="form-group" id="subject-area">
                        <label for="subject-area-select">Subject Area</label>
                        <a id="delete" href="#">
                            <i class="material-icons red float-right">close</i>
                        </a>
                        <select class="form-control" id="subject-area-select"></select>
                    </div>
                    <div class="form-group" id="course">
                        <label for="course-select">Course</label>
                        <select class="form-control" id="course-select"></select>
                    </div>
                    <div class="form-group" id="session">
                        <label for="session-select">Session</label>
                        <select class="form-control" id="session-select"></select>
                    </div>
                </div>
            </div>
            <div class="card" id="new">
                <div class="text-center card-body p-1">
                    add a class
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'schedule/js/schedule.js' %}"></script>
{% endblock %}