{% extends 'base/base.html' %}

{% load static %}
{% load hours %}

{% block appendhead %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class=" col-lg-8 col-md-9">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    {% for day in schedule.keys %}
                        <th scope="col" class="text-center col-width">{{ day }}</th>
                    {% endfor %}

                </tr>
                </thead>
                <tbody>
                {% hours as hours %}
                {% for hour in hours %}
                    <tr>
                        <th class="text-right">{{ hour|time:'g:i A' }}</th>
                        {% for day in schedule.keys %}
                            <td class="col-width"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-3">
            options here
        </div>
    </div>
{% endblock %}